section#feed
  ul#post_stream
    - if (bubbles_list[slug]['events'])
      each event in bubbles_list[slug]['events']
        li
          a(href='/' + slug + '/' + event['bubble_id']  + '/' + event['slug'])
            h3= event['name']
            h4= event['location']
            div.overlay_post
            img(src=event['pic_big'])
    - else
      p no upcoming events
